<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#0" class="brand-logo grey-text text-lighten-3">{{sitename}}</a>
    </div>
  </nav>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="col l6 offset-l2 s11 m8">
        <p class="white-text flow-text">Hello, since I'm on break this week I am going to spend some time making websites, and practice my design and web develpment skills!</p>
      </div>
    </div>
    <div class="row">
      <div class="col s9 offset-s3 m4 offset-m6">
        <a href="#0" class="clear btn-large waves-light waves-effect">Click to See My Portfolio!</a>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container grey-text text-lighten-4">
    <p class="center">© 2016 Copyright Text</p>
  </div>
</footer>
